# Build
Debug/
Release/
x64/
x86/
out/
build/

# VS/IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compilados/cache
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.pch
*.exp
ipch/
*.tlog
*.log
*.opendb
*.VC.db
*.VC.VC.opendb

# CMake (se usares)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
